.btn {
    width: 100%;
    background: $accent-color;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}