.chats {
    display: flex;
    &_sidebar {
        width: 320px;
        min-height: 100vh;
        background: #fff;
        padding: 0 15px;
        border-right: 1px solid #000;

        &_title{
            text-align: center;
            font-weight: bold;
        }

        @media all and (max-width: 576px) {
            width: 100%;
        }
    }
    &_content {
        width: 100%;
        @media all and (max-width: 576px) {
            display: none;
        }
    }
}